name: 'Unit tests'
on:
  push:
    branches:
      - dev
      - ssecsd/docker-runner

env:
  TARGETS: f7
  DEFAULT_TARGET: f7
  FBT_TOOLCHAIN_PATH: /opt/flipperzero-firmware
  FBT_GIT_SUBMODULE_SHALLOW: 1

jobs:
  run_units_on_bench:
    runs-on: [self-hosted, FlipperZeroTest]
    steps:

      - name: 'Flash unit tests firmware'
        id: flashing
        if: success()
        timeout-minutes: 10
        run: |
          ./fbt resources firmware_latest flash LIB_DEBUG=1 FIRMWARE_APP_SET=unit_tests FORCE=1
        working-directory: /opt/flipperzero-firmware

      - name: 'Wait for flipper and format ext'
        id: format_ext
        if: steps.flashing.outcome == 'success'
        timeout-minutes: 5
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 -m pip install future
          python3 scripts/testops.py -t=120 await_flipper
          python3 scripts/storage.py format_ext
        working-directory: /opt/flipperzero-firmware

      - name: 'Copy assets and unit data, reboot and wait for flipper'
        id: copy
        if: steps.format_ext.outcome == 'success'
        timeout-minutes: 7
        run: |
          source scripts/toolchain/fbtenv.sh
          python3 scripts/testops.py -t=15 await_flipper
          python3 scripts/storage.py -f send build/latest/resources /ext
          python3 scripts/power.py reboot
          python3 scripts/testops.py -t=15 await_flipper
        working-directory: /opt/flipperzero-firmware

      - name: 'Run units and validate results'
        id: run_units
        if: steps.copy.outcome == 'success'
        timeout-minutes: 7
        run: |
          source /opt/flipperzero-firmware/scripts/toolchain/fbtenv.sh
          python3 /opt/flipperzero-firmware/scripts/testops.py -s $ST_LINK_ID run_units

      - name: 'Upload test results'
        if: always() && steps.run_units.outcome != 'skipped'
        uses: actions/upload-artifact@v4
        with:
          name: unit-tests-output
          path: unit_tests_output.txt, unit_tests_stm_output.txt

      - name: 'Check GDB output'
        if: failure() && steps.flashing.outcome == 'success'
        run: |
          ./fbt gdb_trace_all LIB_DEBUG=1 FIRMWARE_APP_SET=unit_tests FORCE=1
        working-directory: /opt/flipperzero-firmware
